In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('autoencoder_multi_trials.csv')

In [3]:
df.describe()

             mae  error_percentage
count  10.000000         10.000000
mean    0.018438        395.540347
std     0.006262        192.521120
min     0.006255        109.649503
25%     0.016635        292.262431
50%     0.019349        328.945042
75%     0.020137        581.085498
max     0.030887        665.725624