In [59]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [60]:

# Read the CSV file
df = pd.read_csv('diabetes_prediction_dataset.csv')
print(df.columns)

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

## <span style="color:red">Preprocessing</span>

In [61]:
null_counts = df.isnull().sum()
print(null_counts)

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

### <span style="color:yellow">No columns have null values</span>

In [62]:
for i in df.columns:
    print("number of unique values in", i, ":", df[i].nunique())

number of unique values in gender : 3
number of unique values in age : 102
number of unique values in hypertension : 2
number of unique values in heart_disease : 2
number of unique values in smoking_history : 6
number of unique values in bmi : 4247
number of unique values in HbA1c_level : 18
number of unique values in blood_glucose_level : 18
number of unique values in diabetes : 2

### <span style="color:yellow">One-hot encoding for gender and smoking_history</span>

In [63]:
df_encoded = pd.get_dummies(df, columns=['gender', 'smoking_history'], drop_first=True)
print(df_encoded.head())

    age  hypertension  heart_disease    bmi  HbA1c_level  blood_glucose_level  \
0  80.0             0              1  25.19          6.6                  140
1  54.0             0              0  27.32          6.6                   80
2  28.0             0              0  27.32          5.7                  158
3  36.0             0              0  23.45          5.0                  155
4  76.0             1              1  20.14          4.8                  155

   diabetes  gender_Male  gender_Other  smoking_history_current  \
0         0        False         False                    False
1         0        False         False                    False
2         0         True         False                    False
3         0        False         False                     True
4         0         True         False                     True

   smoking_history_ever  smoking_history_former  smoking_history_never  \
0                 False                   False                   True
1                 False                   False                  False
2                 False                   False                   True
3                 False                   False                  False
4                 False                   False                  False

   smoking_history_not current
0                        False
1                        False
2                        False
3                        False
4                        False

### <span style="color:yellow">Normalizing the data</span>

In [64]:
boolean_columns = df_encoded.select_dtypes(include=bool).columns
numerical_columns = df_encoded.select_dtypes(include=np.number).columns
print(boolean_columns)
print(numerical_columns)

Index(['gender_Male', 'gender_Other', 'smoking_history_current',
       'smoking_history_ever', 'smoking_history_former',
       'smoking_history_never', 'smoking_history_not current'],
      dtype='object')
Index(['age', 'hypertension', 'heart_disease', 'bmi', 'HbA1c_level',
       'blood_glucose_level', 'diabetes'],
      dtype='object')

In [65]:
scaler = StandardScaler()
df_numerical_scaled = pd.DataFrame(scaler.fit_transform(df[numerical_columns]), columns=numerical_columns)
df_scaled = pd.concat([df_numerical_scaled, df_encoded[boolean_columns]], axis=1)

In [66]:
df_scaled.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1.692704,-0.284439,4.936379,-0.321056,1.001706,0.047704,-0.304789,False,False,False,False,False,True,False
1,0.538006,-0.284439,-0.202578,-0.000116,1.001706,-1.426210,-0.304789,False,False,False,False,False,False,False
2,-0.616691,-0.284439,-0.202578,-0.000116,0.161108,0.489878,-0.304789,True,False,False,False,False,True,False
3,-0.261399,-0.284439,-0.202578,-0.583232,-0.492690,0.416183,-0.304789,False,False,True,False,False,False,False
4,1.515058,3.515687,4.936379,-1.081970,-0.679490,0.416183,-0.304789,True,False,True,False,False,False,False